/* text css */
h1,
h3,
h6,
p {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

/* Navbar CSS start here */
.navbar ol {
  display: flex;
  justify-content: right;
}

.navbar li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
}

.navbar li :hover {
  background-color: #427D9D;
}

/* Navbar CSS end here */

/* Service page CSS start here */
.flex-child ol{
  justify-content: center;
}

.flex-child li{
    justify-content: center;
    list-style: none;
    padding: 10px;
    text-decoration: underline;
    display: grid;
    font-size: 20px;
    
}

#service1{
  display: block;
  position: static;
  justify-content: center;
  background-color: #ECF4D6;
  width: 200px;
  padding: 150px 30px;
  margin-left: 300px;
}

#service2{
  display: block;
  position: static;
  justify-content: center;
  background-color: #9AD0C2;
  width: 400px;
  padding: 100px 10px;
  margin-right: 300px;
}


/* About us page CSS start here*/
.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}

.flex-child:first-child {
  margin-right: 0px;
}

#about1 {
  display: block;
  position: static;
  justify-content: center;
  background-color: #ECF4D6;
  width: 200px;
  padding: 200px 30px;
  margin-left: 300px;
}

#about2 {
  display: flex;
  position: static;
  justify-content: center;
  background-color: #9AD0C2;
  width: 400px;
  padding: 100px 20px;
  margin-right: 300px;
}

/* About us page CSS end here*/

/* Contact us page CSS start here*/
#box1 {
  display: block;
  position: static;
  justify-content: center;
  background-color: #ECF4D6;
  width: 200px;
  padding: 150px 30px;
  margin-left: 300px;
}

#box2 {
  display: flex;
  position: static;
  justify-content: center;
  background-color: #9AD0C2;
  width: 400px;
  padding: 150px 10px;
  margin-right: 300px;
}

#box3 {
  display: flex;
  justify-content: center;
  position: static;
  background-color: #9AD0C2;
  width: 200px;
  padding: 150px 30px;
  margin-left: 300px;
}

#form {
  background-color: #ECF4D6;
  position: static;
  display: flex;
  justify-content: center;
  width: 400px;
  padding: 10px 10px;
  margin-right: 300px;
  font-size: 20px;
}

/* Contact us form input CSS */
input[type=text],
input[type=email],
input[type=tel],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
}

button {
  background-color: #2D9596;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

/* Contact us page CSS end here*/