/* text css */
h1,
h3,
h6,
p {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

/* Navbar CSS start here */
.container ol {
  display: flex;
  justify-content: center;
  
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  color: #F3EEEA;
}

.container li :hover {
  background-color: #427D9D;
}

/* Navbar CSS end here */

/* About us page CSS start here*/
.animation {
  margin-left: 30%;
  height: 300px;
  width: 300px;
  background-color: #F3EEEA;
  animation-name: a1;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  position: relative;
}

@keyframes a1 {
  0% {
    background-color: #F3EEEA;
    left: 0px;
    top: 0px;
  }

  25% {
    background-color: #EBE3D5;
    left: 100px;
    top: 0px;
  }

  50% {
    background-color: #B0A695;
    left: 200px;
    top: 0px;
  }

  75% {
    background-color: #776B5D;
    left: 300px;
    top: 0px;
  }

  100% {
    background-color: #F3EEEA;
    left: 400px;
    top: 0px
  }
}
/* About us page CSS end here*/

/* Contact us page CSS start here*/
.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}

.flex-child:first-child {
  margin-right: 0px;
}

#box1 {
  display: block;
  position: static;
  justify-content: center;
  background-color: #ECF4D6;
  width: 200px;
  padding: 150px 30px;
  margin-left: 300px;
}

#box2 {
  display: flex;
  position: static;
  justify-content: center;
  background-color: #9AD0C2;
  width: 400px;
  padding: 150px 10px;
  margin-right: 300px;
}

#box3 {
  display: flex;
  justify-content: center;
  position: static;
  background-color: #9AD0C2;
  width: 200px;
  padding: 150px 30px;
  margin-left: 300px;
}

#form {
  background-color: #ECF4D6;
  position: static;
  display: flex;
  justify-content: center;
  width: 400px;
  padding: 10px 10px;
  margin-right: 300px;
  font-size: 20px;
}

/* Contact us form input CSS */
input[type=text],
input[type=email],
input[type=tel],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
}

button {
  background-color: #2D9596;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

/* Contact us page CSS end here*/